@import "./variables";

.short-about {
  width: 100vw;
  height: 100vh;
  h1 {
    @include HeadStyles();
    margin-left: 9rem;
  }
  .bout__body {
    display: flex;
    padding: 4rem 9rem;
    p {
      color: $primaryLight;
      font-family: $fontPrimary;
      margin-right: 15rem;
    }
    img {
      width: 24rem;
    }
  }
}
