@import "./variables";

.hero {
  width: 100vw;
  background: url(../assets/banners/hero-kiity.jpg);
  height: 100vh;
  padding: auto;
  background-size: cover;
  button {
    font-family: $fontPrimary;
    cursor: pointer;
    color: $primaryDark;
    font-weight: 800;
    margin-left: 9rem;
    border: none;
    background-color: $accentDark;
    border-radius: 1rem;
    width: 20rem;
    height: 6rem;
    font-size: 40px;
    box-shadow: 0.2em 0.2em 0.5em;
    @include BtnHover();
  }
}

.hero__title {
  padding: 9rem 9rem 2rem 9rem;
  color: $primaryDark;
  margin: 0;
  width: 45vw;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  span {
    color: $accentDark;
  }
}
